@use'../variable';



.infos-bar {
    padding: 16px 24px;
    background-color: variable.$textColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variable.$textInfo;
            

            b {
                font-size: 18px;
                display: block;
                color: variable.$textInfo;
            }
        }
    }


    @media (max-width:640px) {
        display: block;
        &__infos {
            display: block;
            &__item {
                margin-bottom: 24px;
            }
        }
        
        @media (max-width:1024px) {
            &__infos {
                gap: 16px;
            }
            
        }

    }
}
